/*
Generics
*/

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	}

a:link 		{color:#034efa;}
a:visited 	{color:#5403fa;}
a:hover 	{text-decoration:none;}
a:active 	{color:#0060ff;}

#CommonContent {
	margin: 0;
	padding: 0;
	height: 1%; /* IE6 hack... it's very minor, though */
	overflow: hidden;
}

#CommonContentInner
{
	width: 100%;
	overflow: hidden;
	position: relative;	
}

#CommonSidebarLeft
{
}

#CommonSidebarLeft .CommonSidebar
{
    float: left;
	margin: 0;
	padding: 0px 10px 20px 0;
	overflow: hidden;
	width: 300px;
	position: relative;
}

#CommonSidebarRight
{
}

#CommonSidebarRight .CommonSidebar
{
    float: right;
	margin: 0;
	padding: 0px 0 20px 10px;
	overflow: hidden;
	width: 300px;
	position: relative;
}

/*
Common Styles
*/

.CommonFeedArea
{
	font-size: 90%;
	padding: 4px 0;
	font-weight: bold;
}

.CommonPagingArea
{
	font-size: 90%;
	padding: 4px;
	margin: 0 3px;
	font-weight: bold;
	color: #000;
}

.CommonPagingArea a:link, .CommonPagingArea a:visited
{
    color: #000;
}

.CommonBreadCrumbArea
{
	display: inline;
}

.CommonBreadCrumbArea .Common
{
	display: inline;
}

.CommonFilterArea
{
	font-size: 90%;
	padding: 4px;
	margin: 0 40px 0 3px;
	font-weight: bold;
}

.CommonSearchResults
{
	font-size: 80%;
	font-weight: bold;
	padding: 8px;
}

.CommonSearchResultsArea
{
    margin: 16px 0;
}

/* 
Tree Form Element
*/

.CommonTreeFormArea
{
	border: solid 1px #999;
	padding: 2px;
	width: 350px;
	height: 175px;
	overflow: auto;
	margin: 4px 4px 2px 4px;
}

.CommonTreeFormTree
{
	padding: 0;
}

.CommonTreeFormNode
{
	cursor: pointer;
	font-size: 90%;
}

.CommonTreeFormNodeSelected
{
	padding: 1px;
	font-weight: bold;
	background-color: #ddd;
	border: solid 1px #ccc;
	cursor: pointer;
	font-size: 90%;
}

.CommonTreeFormNodeHover
{
	cursor: pointer;
	font-size: 90%;
}

/*
Form Styles
*/

.CommonFormArea
{
    margin: 0px 0;
}

.CommonFormTitle
{
	color: #aaa;
	font-size: 180%;
	letter-spacing: -1px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 16px 0;
}

.CommonFormDescription
{
	padding: 8px 2px 8px 0;
}

TD.CommonFormFieldName
{
	color: #000;
	padding: 2px 8px 2px 2px;
	font-weight: bold;
}

DIV.CommonFormFieldName
{
	color: #000;
	padding: 8px 2px 2px 2px;
	font-weight: bold;
}

TD.CommonFormFieldDescription
{
	padding: 2px;
	font-size: 90%;
	font-weight: normal;
}

DIV.CommonFormFieldDescription
{
	padding: 2px;
	font-size: 90%;
	font-weight: normal;
}

TD.CommonFormField
{
	color: #000;
	padding: 2px;
}

DIV.CommonFormField
{
	color: #000;
	padding: 2px;
}

/*
Message Styles
*/

.CommonInlineMessageTitle, .CommonMessageTitle
{
	background:url(bg_heading.png) no-repeat;
	position:relative;
	background-color:#7AA4DD;
	margin-top:0px;
	padding:0;
	clear:both;
}

.CommonInlineMessageTitle h2, .CommonMessageTitle h2
{
	padding:5px 8px 4px 8px;
	margin:0;
	font-size:.95em;
	position:relative;
}

.CommonInlineMessageTitleRight, .CommonMessageTitleRight
{
	background:url(./i/bg_heading.png) no-repeat;
	position:relative;
	_height:1px;
	background-position:0 -70px;
	height:5px;
	width:5px;
	float:right;
	overflow:hidden;
}

.CommonInlineMessageArea, .CommonMessageArea
{
	background:url(./i/bg_bucket.png) repeat-x 0 -44px;
	min-height:1px;
	_height:1px;
	position:relative;
}

.CommonInlineMessageTop, .CommonMessageTop
{
	border-left:2px solid #9fbde5;
	border-right:2px solid #9fbde5;
	background:url(./i/bg_bucket.png) no-repeat;
	height:10px;
}

.CommonInlineMessageTop span, .CommonMessageTop span
{
	background:url(./i/bg_bucket.png) no-repeat right -10px;
	width:10px;
	height:10px;
	float:right;
	overflow:hidden;
}

.CommonInlineMessageContent, .CommonMessageContent
{
	border-left:2px solid #9fbde5;
	border-right:2px solid #9fbde5;
	min-height:1px;
	_height: 1px;
	position:relative;
	padding: 0 10px;
}

.CommonInlineMessageContent p, .CommonMessageContent p, .CommonInlineMessageContent .CommonFormArea, .CommonMessageContent .CommonFormArea
{
    margin: 0px;
    padding-bottom: 10px;
}

.CommonInlineMessageContent .CommonPane
{
    _height: 600px;
}

.CommonInlineMessageBottom, .CommonMessageBottom
{
	background:url(./i/bg_bucket.png) no-repeat 0 -22px;
	height:10px;
	margin-bottom:4px;
}

.CommonInlineMessageBottom span, .CommonMessageBottom span
{
	background:url(./i/bg_bucket.png) no-repeat right -34px;
	width:12px;
	height:10px;
	float:right;
	overflow:hidden;
}

.CommonMessageArea
{
	width: 50%;
	margin-bottom: 64px;
}

.CommonMessageTitle
{
	width: 50%;
	margin-top: 64px;
}

ol.CommonInlineMessageList, ul.CommonInlineMessageList
{
    margin: 0;
    padding: 0;
}

.CommonInlineMessageList li
{
    margin-left: 30px;
}

.CommonMessageSuccess
{
	padding: 8px;
	font-size: 75%;
	color: #fff;
	font-weight: bold;
	border: solid 2px #030;
	background-color: #6a5;
	margin: 8px 0;
}

.CommonMessageError
{
	margin: 8px 0 12px 0;
	padding: 8px;
	font-size: 75%;
	color: #fff;
	font-weight: bold;
	border: solid 2px #300;
	background-color: #a00;
}

/*
Content
*/

.CommonTextBig
{
	margin: 1px;
	padding: 5px;
	font-weight: bold;
	font-size: 120%;
}

.CommonInputBig
{
	width: 90%;
	font-size: 130%;
}

.CommonContentArea
{
    #margin: 0;
}

.CommonTitle, .CommonProfileTitle
{
	color: #aaa;
	font-size: 280%;
	letter-spacing: -1px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 16px 0;
}

.CommonTitle A:LINK, .CommonTitle A:ACTIVE, .CommonTitle A:VISITED
{
    color: #aaa;
    text-decoration: none;
}

.CommonTitle A:HOVER
{
    text-decoration: underline;
}

.CommonSubTitle
{
	color: #aaa;
	font-size: 180%;
	letter-spacing: -1px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 16px 0;
}

.CommonHeader
{
	color: #aaa;
	font-size: 130%;
	font-weight: bold;
	padding: 0;
	margin: 8px 0 0 0;
}

.CommonContent
{
}

.CommonGroupedContentArea
{
	padding: 0 0 8px 0;
	margin: 0 0 16px 0;
	border: solid 0 #eee;
	border-bottom-width: 1px;
}

.CommonSidebarArea
{
	padding: 0 0 6px 0;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

.CommonSidebarRoundBottom
{
	height: 5px;
}

.CommonSidebarRoundTop, .CommonSidebarRoundTop .r1, .CommonSidebarRoundTop .r2, .CommonSidebarRoundTop .r3, .CommonSidebarRoundTop .r4
{
	display: none;
}

.CommonSidebarRoundBottom .r1, .CommonSidebarRoundBottom .r2, .CommonSidebarRoundBottom .r3, .CommonSidebarRoundBottom .r4
{
	border-left: solid 1px;
	border-right: solid 1px;
	height: 1px;
	overflow: hidden;
}

.CommonSidebarRoundBottom .r1, .CommonSidebarRoundBottom .r2, .CommonSidebarRoundBottom .r3, .CommonSidebarRoundBottom .r4
{
	/*background-image: url(../images/common/sidebar-bottom.png);*/
	background-repeat: repeat;
	background-position: left top;
}

.CommonSidebarRoundBottom .r4 { margin: 0 5px; height: 0; border-top: solid 1px; border-left-width: 0; border-right-width: 0; }
.CommonSidebarRoundBottom .r3 { margin: 0 3px; border-left-width: 2px; border-right-width: 2px; }
.CommonSidebarRoundBottom .r2 { margin: 0 2px; }
.CommonSidebarRoundBottom .r1 { margin: 0 1px; height: 2px; }

.CommonSidebarHeader
{
	color: #000;
	padding: 4px 8px 0 8px;
	margin: 0px;
	background-image: url(../images/fan/sidebar-header-background.png);
	background-repeat: no-repeat;
	background-position: top-left;
	width: 284px;
	height: 25px;
	overflow: hidden;
}

.CommonSidebarHeader a:link, .CommonSidebarHeader a:visited, .CommonSidebarHeader a:active
{
    text-decoration: none;
}

.CommonSidebarInnerArea
{
	margin: 0;
	padding: 0;
}

.CommonSidebarContent
{
	font-size: 90%;
	padding: 0 8px 8px 8px;
	overflow: hidden;
	width: 284px;
}

.CommonSidebarInnerArea, .CommonSidebarRoundBottom .r1, .CommonSidebarRoundBottom .r2, .CommonSidebarRoundBottom .r3, .CommonSidebarRoundBottom .r4
{
	background-color: #e4eafa;
	border-color: #e4eafa;
}

.CommonSidebarFooter
{
	font-size: x-small;
	padding: 4px 8px 4px 8px;
	overflow: hidden;
	width: 284px;
	border-top: solid 1px #fff;
}

UL.CommonSidebarList
{
	margin: 0;
	padding: 0;
}

UL.CommonSidebarList LI
{
	margin-bottom: 5px;
	margin-left: 20px;
}

OL.CommonSidebarList
{
	margin: 0;
	padding: 0;
}

OL.CommonSidebarList LI
{
    margin: 0 0 5px 20px;
}

LI.CommonSidebarRssListItem
{
    margin: 0 0 5px 16px;
	padding: 0 0 1px 0;
	list-style-image: url(../images/common/feed-icon-12x12.png);	
}

.CommonDescription
{
	font-size: 90%;
	margin: 0 0 16px 0;
}

.CommonSidebarImage
{
	margin: 4px 0;
	padding: 3px;
	border: solid 1px #fff;
	background-color: #eee;
	text-align: center;
}

UL.CommonSidebarImageList
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*
Text Button
*/

.CommonTextButton, .CommonImageTextButton
{
	background:#103285 url(./i/bg_nav_main_current.png) repeat-x 0 -118px;
	color:#FFF;
	padding: 3px 4px 3px 2px;
	margin: 1px;
	font-size:.9em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	border:2px solid #DCE4F9;
	border-bottom:2px solid #a7bad5;
	border-right:2px solid #a7bad5;
	white-space:nowrap;
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
}

.CommonImageTextButtonDropDown
{ 
    font-size: 14px;
	background:#20479d;   
	color:#FFF;	 
	font-family:Arial, Helvetica, sans-serif;
	border:2px solid #DCE4F9;
	border-bottom:2px solid #a7bad5;
	border-right:2px solid #a7bad5;	
	white-space:nowrap;
}

.CommonTextButton:LINK, .CommonTextButton:VISITED, .CommonImageTextButton:LINK, .CommonImageTextButton:VISITED
{
	text-decoration: none;
	color: #fff;
}

.CommonTextButton:ACTIVE, .CommonImageTextButton:ACTIVE
{
	text-decoration: none;
	color: #fff;
}

.CommonTextButton:HOVER, .CommonImageTextButton:HOVER
{
	text-decoration: none;
	color: #fff;
	border-color: #193e95;
	background-position:0 -124px;
}

.CommonTextButton.Big
{
	padding: 10px;
	font-size: 120%;
}

.CommonTextButtonHighlight, .CommonImageTextButtonHighlight
{
	background:#103285 url(./i/bg_nav_main_current.png) repeat-x 0 -124px;
	color:#FFF;
	padding: 3px 4px 3px 2px;
	margin: 1px;
	font-size:.9em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	border:2px solid #193e95;
	white-space:nowrap;
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
}

.CommonTextButtonHighlight:LINK, .CommonTextButtonHighlight:VISITED, .CommonTextButtonHighlight:ACTIVE, .CommonTextButtonHighlight:HOVER,
.CommonImageTextButtonHighlight:LINK, .CommonImageTextButtonHighlight:VISITED, .CommonImageTextButtonHighlight:ACTIVE, .CommonImageTextButtonHighlight:HOVER
{
	text-decoration: none;
	color: #fff;
	border-color: #193e95;
}

/*
Specific Buttons
*/

.CommonPrivateMessageButton, .CommonEmailButton, .CommonEmailSubscriptionButtonEnabled, .CommonEmailSubscriptionButtonDisabled,
.CommonEmailSubscriptionButtonProcessing, .CommonFavoriteButton, .CommonContactButton, .CommonEditButton, .CommonDeleteButton, 
.CommonUploadButton, .CommonDownloadButton, .CommonPostButton, .CommonReplyButton, .CommonPreviousButton, .CommonNextButton, 
.CommonViewButton, .CommonLockedButton, .CommonHomepageButton, .CommonWeblogButton
{ 
	display: block; 
	background:url(./i/bg_button_sprite.png) no-repeat;
	padding-left:22px
}

.CommonQuoteButton { background-position:5px -160px; }
.CommonSearchButton { background-position:5px -280px; }
.CommonPrivateMessageButton { background-position:5px -400px;padding-left:28px  }
.CommonEmailButton { background-position:5px -1160px;padding-left:19px }
.CommonEmailSubscriptionButtonDisabled { background-position:5px -360px;padding-left:26px }
.CommonEmailSubscriptionButtonEnabled { background-position:5px -320px;padding-left:29px }
.CommonEmailSubscriptionButtonProcessing { background-position:5px -360px;padding-left:26px }
.CommonFavoriteButton { background-position:5px -120px; }
.CommonContactButton { background-position:5px -240px; }
.CommonEditButton { background-position:5px -1160px;padding-left:19px }
.CommonDeleteButton { background-position:5px -1160px;padding-left:19px }
.CommonUploadButton { background-position:5px -1160px;padding-left:19px }
.CommonDownloadButton { background-position:5px -1000px; }
.CommonPostButton {background-position:5px 0;padding:6px 6px 6px 29px }
.CommonReplyButton { background-position:5px -200px; }
.CommonPreviousButton { background-position:5px -80px; }
.CommonNextButton {background-position:5px -40px; }
.CommonViewButton { background-position:5px -640px; }
.CommonLockedButton { background-position:5px -1160px;padding-left:19px }
.CommonHomepageButton { background-position:5px -440px; }
.CommonWeblogButton { background-position:5px -480px; }

.CommonAnsweredButton
{
    margin: 1px;
    border: solid 1px #fff;
    padding: 3px 8px 3px 24px;
    color: #fff;
   	background:url(./i/bg_icon_sprite.png) no-repeat;
    background-color: #3d942e;
    background-position: 0px -2400px;
    white-space:nowrap;
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
}

/*
Advertisements
*/

.CommonStandardTopAdArea
{
	text-align: center;
	padding: 4px;
	margin: 0 0 4px 0;
	border: solid 0 #999;
	border-top-width: 1px;
}

.CommonStandardTopAdArea IFRAME
{
	margin: 0 auto;
}

.CommonStandardBottomAdArea
{
	text-align: center;
	padding: 4px;
	border: solid 0 #999;
	border-top-width: 1px;
	margin: 4px 0 0 0;
}

.CommonStandardBottomAdArea IFRAME
{
	border: solid 1px #999;
	margin: 0 auto;
}

/*
List 
*/

.CommonListArea
{
}

.CommonListArea table
{
	margin:2px 0 0 0;
	padding: 0;
}

.CommonListTitle
{
	background:url(./i/bg_heading.png) no-repeat;
	position:relative;
	background-color:#7AA4DD;
	margin-top:6px;
	padding:0;
	clear:both;
	margin-right: 2px;
}

.CommonListTitle h2
{
	padding:5px 8px 4px 8px;
	margin:0;
	font-size:.95em;
	position:relative;
}

.Collapsed .CommonListTitleBottom, .Processing .CommonListTitleBottom
{
	background:url(./i/bg_heading.png) no-repeat;
	position:relative;
	margin-top:-5px;
	background-position:0 -80px;
	height:5px;
	margin-bottom:10px;
	font-size:1px;
	margin-right: 2px;
}

.Collapsed .CommonListTitleBottom span, .Processing .CommonListTitleBottom span
{
	background:url(./i/bg_heading.png) no-repeat;
	position:relative;
	display:block;
	height:5px;
	width:5px;
	float:right;
	background-position:0 -75px;
	overflow:hidden;
}

.CommonListTitleRight
{
	background:url(./i/bg_heading.png) no-repeat;
	position:relative;
	background-position:0 -70px;
	height:5px;
	width:5px;
	float:right;
	overflow:hidden;
}

.CommonListHeaderLeftMost, .CommonListHeader
{
	background:#DCE4F9 url(./i/bg_heading.png) 900px -7px;
	vertical-align:middle;
	padding:4px 10px 4px 10px;
	text-align:left;
	border-bottom:2px solid #FFF;
	border-right:2px solid #FFF;
	font-size:.9em;
}


.CommonListCellLeftMost, .CommonListCell
{
    /*background:#e8eefe*/
	background:#DCE4F9;
	vertical-align:middle;
	padding:3px 10px;
	border-bottom:2px solid #FFF;
	border-right:2px solid #FFF;
}

.CommonListRow
{
}

/*
Search Results
*/

.CommonSearchResultArea
{
	margin: 0 0 20px 0;
	border: solid 0 #eee;
	border-bottom-width: 1px;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 10px 0;
}

.CommonSearchResultArea.Weblog
{
}

.CommonSearchResultArea.Forum
{
}

.CommonSearchResultArea.FileGallery
{
}

.CommonSearchResultArea.Gallery
{
}

.CommonSearchResult
{
	font-size: 100%;
}

.CommonSearchResultName
{
	font-size: 150%;
	font-weight: normal;
	padding: 0;
	margin: 0 0 4px 0;
}

.CommonSearchResultDetails
{
	margin: 4px 0 0 0;
	color: #000;
	font-size: 80%;
}

.CommonSearchStatistics
{
	margin: 4px 0 0 0;
	color: #000;
	font-size: 80%;
}

UL.CommonSearchResultList
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*
Validation Styles
*/

.CommonValidationWarning
{
	font-size: 100%;
	color: #f00;
	font-weight: bold;
	padding: 2px;
}

/*
ContentParts
*/

.CommonContentPartBorderOff
{
	padding: 1px;
}

.CommonContentPartBorderOn
{
	border: dashed 1px #999;
	background-color: #efefef;
}

/*
Context Menu Styles
*/

.CommonContextMenuGroup
{
	background:#3B67B4;
	border:2px solid #DCE4F9;
	border-bottom:2px solid #a7bad5;
	border-right:2px solid #a7bad5;
	font-size: 13px;
}

.CommonContextMenuItem
{
	list-style:none !important;
	margin:0 !important;
	border-top:1px solid #4f76bc;
	padding: 3px 5px 4px 2px;
	color: #fff;
	cursor: pointer;
}

.CommonContextMenuItemHover
{
	list-style:none !important;
	margin:0 !important;
	border-top:1px solid #4f76bc;
	padding: 3px 5px 4px 2px;
	background:#103285 url(./i/bg_nav_main_current.png) repeat-x 0 -118px;
	color: #fff;
	cursor: pointer;
}

.CommonContextMenuItemExpanded
{
	list-style:none !important;
	margin:0 !important;
	border-top:1px solid #4f76bc;
	padding: 3px 5px 4px 2px;
	background:#103285 url(./i/bg_nav_main_current.png) repeat-x 0 -118px;
	color: #fff;
	cursor: pointer;
}

/* Modal Styles */

.CommonModalMask
{
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #333;
}

.CommonModal
{
	padding: 0 7px;
}

.CommonModal1, .CommonModal2, .CommonModal3, .CommonModal4, .CommonModal5 
{ 
	background-color: #ccc;
	background-image: url(../images/common/navigation-gradient.png);
	background-repeat: repeat-x;
	background-position: left -20px;
	border-left: solid 1px #666;
	border-right: solid 1px #666;
}

.CommonModal1 {	margin: 0 -2px;	padding: 0; border-top: solid 1px #666; border-bottom: solid 1px #666; border-left-width: 0px; border-right-width: 0px; }
.CommonModal2 { margin: 0 -2px; padding: 1px 0; border-left-width: 2px; border-right-width: 2px; }
.CommonModal3 { margin: 0 -3px; padding: 1px 0; }
.CommonModal4 { margin: 0 -2px; padding: 2px 0; }
.CommonModal5 { margin: 0 -2px; padding: 1px 0; }

.CommonModalTitle
{
	background-color: #ccc;
	background-image: url(../images/common/navigation-gradient.png);
	background-repeat: repeat-x;
	background-position: left -20px;
	border-bottom: solid 1px #666;
	border-left: solid 1px #666;
	border-right: solid 1px #666;
	padding: 3px 6px 6px 6px;
	font-size: 110%;
	font-weight: bold;
	color: #000;
	cursor: move;
	min-height: 16px;
}

.CommonModalContent
{
	background-color: #fff;
	padding: 0 8px;
}

.CommonModalFooter
{
	border-top: solid 1px #666;
	background-color: #ccc;
	width: 100%;
	height: 20px;
}

.CommonModalClose
{
	width: 33px;
	height: 12px;
	background-image: url(../images/common/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	right: 12px;
}

.CommonModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(../images/common/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
	right: 6px;
	margin-top: 4px;
	cursor: se-resize;
}

/*
Rating Styles
*/

.CommonRateControlReadOnly
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	padding: 1px;
	white-space: nowrap;
}

.CommonRateControl
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	cursor: pointer;
	padding: 1px;
	white-space: nowrap;
}

.CommonRateControlActive
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	cursor: pointer;
	padding: 1px;
	white-space: nowrap;
	background-color: #ddf;
}

.CommonRateControlReadOnly img, .CommonRateControl img, .CommonRateControlActive img
{
	margin: auto 0;
	width: 7px;
	height: 14px;
}

/*
Content Selector Styles 
*/

.CommonContentSelectorTreeArea
{
	background-color: #fff;
	height: 330px;
	margin: 5px;
	margin-left: 0;
	border: solid 1px #999;
	overflow: auto;
}

.CommonContentSelectorItemsArea
{
	margin: 5px;
	margin-right: 0;
	margin-left: 0;
	background-color: #fff;
	border: solid 1px #999;
	overflow: auto;
	padding: 4px;
	height: 322px;
}

.CommonContentSelectorOptionsArea
{
	margin: 0;
	background-color: #fff;
	border: solid 1px #999;
	padding: 4px;
}

.CommonContentSelectorTree
{
	padding: 0;
	height: 330px;
	width: 215px;
	overflow: visible;
}

.CommonContentSelectorTreeNode
{
	cursor: pointer;
}

.CommonContentSelectorTreeNodeSelected
{
	font-weight: bold;
	cursor: pointer;
}

.CommonContentSelectorTreeNodeHover
{
	cursor: pointer;
}

.CommonContentSelectorItemArea
{
    float: left;
}

.CommonContentSelectorItem
{
	font-size: 90%;
	border: solid 1px #ccc;
	cursor: pointer;
	padding: 3px;
	width: 79px;
	height: 79px;
	overflow: hidden;
	margin: 6px 6px 0 6px;
	text-align: center;
	vertical-align: middle;
}

.CommonContentSelectorItemSelected
{
	font-size: 90%;
	border: solid 3px #999;
	cursor: pointer;
	padding: 1px;
	width: 79px;
	height: 79px;
	overflow: hidden;
	margin: 6px 6px 0 6px;
	text-align: center;
	vertical-align: middle;
}

.CommonContentSelectorItem img, .CommonContentSelectorItemSelected img
{
	margin-top: auto;
	margin-bottom: auto;
}

.CommonContentSelectorItemName
{
	font-size: 90%;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	padding: 2px;
	width: 83px;
	height: 12px;
	overflow: hidden;
	margin: 1px 6px 16px 6px;
}

.CommonContentSelectorItemNameSelected
{
	font-size: 90%;
	font-weight: normal;
	text-align: center;
	background-color: #999;
	cursor: pointer;
	padding: 2px;
	width: 83px;
	height: 12px;
	overflow: hidden;
	margin: 1px 6px 16px 6px;
}

.CommonContentSelectorButtonArea
{
	text-align: left;
	margin: 5px;
}

p.MsoNormal, li.MsoNormal, div.MsoNormal
{
	margin: 0 0 .0001pt 0;
}

/* Comment Form */

#CommonCommentForm, #CommonContactForm 
{
	padding: 0;
	font-size: 0.95em;
}

#CommonCommentForm h2, #CommonContactForm h2
{
	margin-bottom: 0;
}

#CommonCommentForm h3, #CommonContactForm h3
{	
    font-size: 1.3em;
	margin: 0 10px 0 0;
	padding: 10px 0 5px;
	font-weight: 600;
	letter-spacing: 0;}

#CommonCommentForm p, #CommonContactForm p
{
	padding: 0em;
	font-size: 0.95em;
}

#CommonCommentForm dl, #CommonContactForm dl 
{
	margin: 0;
	padding: 0;
}

#CommonCommentForm dt, #CommonContactForm dt 
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0;
	padding-left: 0;
	font-size: 1.0em;
	margin: 0;}
	
#CommonCommentForm dd, #CommonContactForm dd 
{
	color: #777;
	margin-left: 0;
}

#CommonCommentForm dt em, #CommonContactForm dt em 
{
	font-size: 0.95em;
}
 
#CommonCommentForm .smallbox, #CommonContactForm .smallbox 
{
	width: 350px;
	padding: 2px;
}

#CommonCommentForm textarea, #CommonContactForm textarea 
{
	width: 500px;
	height: 150px;
	padding: 2px;
	font-size: 1em;
}

/* Comments */

/* Comment List */

.Comment
{
	padding: 12px 8px 8px 8px;
	border: solid 0 #eee;
	border-bottom-width: 1px;
}

.CommentOwner
{
	padding: 8px;
	background-color: #f4f4f4;
	border-bottom: solid 12px #fff;
}

.CommentAvatar
{
	white-space: nowrap;
}

.CommentAvatar img
{
	white-space: nowrap;
	margin-right: 8px;
}

.CommentContent
{
}

.CommentTitle
{
	font-size: 110%;
	margin: 0;
	padding: 0;
}

.CommentText
{
	padding: 2px 0;
}

.CommentFooter
{
	font-size: 80%;
	color: #999;
}

/* Help Icon */

.CommonHelpIcon
{
    display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	border-style:none;
	height: 20px;
	width: 20px;
	background-image: url(../images/common/help_out.gif);
	background-position: left top;
	background-repeat: no-repeat;
	cursor: help;
}

.CommonHelpIconHover
{
    display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	border-style:none;
	height: 20px;
	width: 20px;
	background-image:url(../images/common/help_hover.gif);
	background-position: left top;
	background-repeat: no-repeat;
	cursor:help;
}

.CommonHelpToolTip
{
    width: 250px;
    padding: 8px;
    border: solid 2px #000;
    background-color: #ffc;
    color: #000;
    font-size: 8pt;
}

/* Poll Styles */

.CommonPollMoveUpButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	border: solid 1px #999;
	border-top-color: #ccc;
	border-left-color: #ccc;
	background-color: #eee;
	color: #333;
	font-size: 80%;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 20px;
	line-height: normal;
	background-image: url(../images/common/up.gif);
}

.CommonPollMoveUpButton:LINK, .CommonPollMoveUpButton:VISTED, .CommonPollMoveUpButton:ACTIVE
{
	text-decoration: none;
	color: #333;
}

.CommonPollMoveUpButton:HOVER
{
	text-decoration: none;
	color: #333;
	background-color: #ddd;
}

.CommonPollMoveDownButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	border: solid 1px #999;
	border-top-color: #ccc;
	border-left-color: #ccc;
	background-color: #eee;
	color: #333;
	font-size: 80%;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 20px;
	line-height: normal;
	background-image: url(../images/common/down.gif);
}

.CommonPollMoveDownButton:LINK, .CommonPollMoveDownButton:VISTED, .CommonPollMoveDownButton:ACTIVE
{
	text-decoration: none;
	color: #333;
}

.CommonPollMoveDownButton:HOVER
{
	text-decoration: none;
	color: #333;
	background-color: #ddd;
}

.CommonPollDeleteButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	border: solid 1px #999;
	border-top-color: #ccc;
	border-left-color: #ccc;
	background-color: #eee;
	color: #333;
	font-size: 80%;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 20px;
	line-height: normal;
	background-image: url(../images/common/delete.gif);
}

.CommonPollDeleteButton:LINK, .CommonPollDeleteButton:VISTED, .CommonPollDeleteButton:ACTIVE
{
	text-decoration: none;
	color: #333;
}

.CommonPollDeleteButton:HOVER
{
	text-decoration: none;
	color: #333;
	background-color: #ddd;
}

ol.CommonPollAnswerList
{
	margin: 0;
	padding: 0;
}

ol.CommonPollAnswerList li
{
	margin-left: 24px;
}

/* rendered poll styles */

.CommonPollArea
{
	width: 375px;
	background-color: #f4f4f4;
	border: solid 1px #bbb;
	margin: 0 auto;
}

.CommonPollQuestion
{
	background-color: #e2eecd;
	border: solid 0 #bbb;
	border-bottom-width: 1px;
	padding: 4px;
	color: #698d73;
	margin: 0;
	font-size: 105%;
}

.CommonPollContent
{
	padding: 4px;
}

.CommonPollDescription
{
}

.CommonPollSwitchedContent
{
	width: 275px;
	margin: 6px auto;
}

ul.CommonPollAnswerList
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.CommonPollAnswerList li
{
	padding: 0;
	margin: 6px 0 0 0;
}

.CommonPollAnswer
{
	padding: 2px;
}

.CommonPollUserVote
{
	color: #777;
}

.CommonPollFooter
{
	padding: 2px;
	background-color: #ccc;
	border: solid 0 #999;
	border-top-width: 1px;
	font-size: 80%;
}

ul.CommonPollFooterList
{
	list-style-type: none;
	margin: 0;
	text-align: center;
}

ul.CommonPollFooterList li
{
	display: inline;
	margin: 0 6px;
}

/* End Poll Styles */

/* Tag Styles */

.CommonTagCloud
{
	color: #999;
	line-height: 250%;
	list-style-type: none;
}

/* BLOG TAG COULD */

ul.CommonSidebarTagCloud {line-height:120%;list-style-type:none;margin:0;padding:10px 0 0 0 !important;}

ul.CommonSidebarTagCloud li {margin:0;padding:0;}

.CommonTag1, .CommonTag2, .CommonTag3, .CommonTag3, .CommonTag4, .CommonTag5, .CommonTag6 {display:inline;margin:0px;padding:0px;}

.CommonTag1 a:link, .CommonTag1 a:visited, .CommonTag1 a:active {font-size: 1.2em;font-weight: bold;color:#0060FF;}

.CommonTag2 a:link, .CommonTag2 a:visited, .CommonTag2 a:active {font-size: 1.2em;color:#0060FF;}

.CommonTag3 a:link, .CommonTag3 a:visited, .CommonTag3 a:active {font-size: 1.1em;color:#034EFA;}

.CommonTag4 a:link, .CommonTag4 a:visited, .CommonTag4 a:active {font-size: 1em;color:#034EFA;}

.CommonTag5 a:link, .CommonTag5 a:visited, .CommonTag5 a:active {font-size: .9em;color:#6e9aff;}

.CommonTag6 a:link, .CommonTag6 a:visited, .CommonTag6 a:active {font-size: .9em;color:#94b3fb;}

/* End Tag Styles */

/*
TabPane Styles
*/

.CommonPane
{
	font-size: 10pt;
	border: solid 1px #999;
	border-top-width: 0;
	background-color: #fff;
	padding: 8px;
	overflow: visible;
}

.CommonPaneTabSet
{
	padding: 0;
	background-image: url(../images/common/tabset.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	white-space: nowrap;
	color: #000;
}

.CommonPaneTab
{
	padding-right: 4px;
	background-image: url(../images/common/tab-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTab1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTab2
{
	padding: 4px;
	height: 13px;
	cursor: pointer;
	white-space: nowrap;
	background-image: url(../images/common/tab.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	overflow: hidden;
	font-size: 11px;
}

.CommonPaneTabSelected
{
	padding-right: 4px;
	background-image: url(../images/common/tab-selected-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTabSelected1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-selected-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTabSelected2
{
	padding: 3px 4px 5px 4px;
	height: 13px;
	cursor: pointer;
	white-space: nowrap;
	background-image: url(../images/common/tab-selected.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	font-size: 11px;
}

.CommonPaneTabHover
{
	padding-right: 4px;
	background-image: url(../images/common/tab-hover-right.gif);
	background-repeat: no-repeat;
	background-position: top right;	
	height: 21px;
	margin-top: 1px;
}

.CommonPaneTabHover1
{
	padding-left: 3px;
	background-image: url(../images/common/tab-hover-left.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.CommonPaneTabHover2
{
	padding: 4px;
	cursor: pointer;
	white-space: nowrap;
	height: 13px;
	background-image: url(../images/common/tab-hover.gif);
	background-repeat: repeat-x;
	background-position: top left;
	text-align: center;
	overflow: hidden;
	font-size: 11px;
}

/* Inline tag editor */
.CommonInlineTagEditor
{
	padding: 4px;
	border: solid 1px #999;
	background-color: #f3f3f3;
}

/* Common Tree List */
ul.CommonTreeList
{
	margin: 0;
	padding: 0;
}

ul.CommonTreeList li
{
    margin: 0;
    padding: 5px 0 0 18px;
    list-style-type: none;
}

.CommonTreeListItemSelected
{
    font-weight: bold;
    padding: 5px 0 0 18px;
	background-image: url(../images/common/folder_open.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
}

.CommonTreeListItem
{
    font-weight: normal;
    padding: 5px 0 0 18px;
	background-image: url(../images/common/folder.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
}

.CommonTreeListItemSelected a:link, .CommonTreeListItemSelected a:visited, .CommonTreeListItemSelected a:active, 
.CommonTreeListItem a:link, .CommonTreeListItem a:visited, .CommonTreeListItem a:active
{
    text-decoration: none;
    color: #000;
}

.CommonTreeListItemSelected a:hover, .CommonTreeListItem a:hover
{
    text-decoration: underline;
    color: #000;
}

.CommonHalfWidthArea
{
    float: left;
    width: 50%;
}

.CommonHalfWidthContent
{
    padding: 10px;
    padding-left: 0;
    font-size: 75%;
}

.CommonHalfWidthBreak
{
    clear: both;
}

.CommonInlineListArea
{
}

.CommonInlineListHeader
{
    font-weight: bold;
    font-size: 115%;    
    margin: 0 0 0 .4em;
}

.CommonInlineList
{
    margin: 0;
    padding: 0;
}

.CommonInlineList li
{
    margin: 0 0 .5em 25px;
    padding: 0;
    list-style-type: square;
}

.CommonAvatarListArea
{
    margin: 12px 12px 0 0 ;
	padding: 3px 3px 3px 0;
	width: 80px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	float: left;
	font-size: 75%;
}

.CommonAvatarAreaHighlight
{
    background-color: #eee;
    border: solid 1px #ccc;
    display: block;
}

.CommonAvatarArea
{
    display: block;
    padding: 1px;
}

/* Avatar */

.CommonAvatar img
{
/*	background:url(./i/bg_thumbnail_sprite.png) no-repeat;
	max-width:59px;
	max-height:59px;*/
	vertical-align: bottom;	
	border-width: 0;
}

.CommonSmallAvatar img
{
    width:16px;
	height:16px;
	border: 1px solid #034efa;	
}

/*************************************************************************************************
New Sidebar container styles
*************************************************************************************************/

/*
Featured X
*/

.bumptop
{
    margin-top: 6px;
}

.ad_container_white 
{
	min-height:1px;
	_height:1px;
	position:relative;
}

.ad_top_white 
{
	background:url(./i/bg_bucket_ad.png) no-repeat right -80px;
	height:5px;
}

.ad_top_white span 
{
	background:url(./i/bg_bucket_ad.png) no-repeat left -68px;
	width:10px;
	height:5px;
	float:left;
	overflow:hidden;
}

.ad_bucket_content 
{
    border-left:2px solid #b2caea;
    border-right:2px solid #b2caea;
    min-height:1px;
    _height:1px;
    position:relative;
    padding:0 0 3px 0;
}

.ad_bucket_content .ad_bucket_contentarea
{
	margin-left: 7px;
	margin-right: 3px;
}

.ad_bucket_content .heading
{
    padding-top: 10px;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}
.ad_bucket_content .end
{
    padding-bottom: 10px;
    margin-bottom: 0;
}

.ad_bucket_bottom 
{
    background:url(./i/bg_bucket_ad.png) no-repeat 0 -27px;
    height:5px;
    margin-bottom:10px;
}

.ad_bucket_bottom span 
{
    background:url(./i/bg_bucket_ad.png) no-repeat right -39px;
    width:12px;
    height:5px;
    float:right;
    overflow:hidden;
}

.ad_bucket_content .advertise_here
{
    clear:both;
	background: #dce4f9;
    margin: 0;
    padding: 0 8px 4px 6px;
    font-size: x-small;
    text-align: right;
}

.ad_bucket_content span.advertise_here 
{
	height: 10px;
}

.ad_bucket_content .heading
{
    font-weight: bold;
    text-align: center;
}


/*
Top Answerers, etc.
*/

.previous_next_community 
{
    background:#fff url(./i/bg_heading-community-alt.png) repeat-x right 0;
    color:#fff;
	padding-bottom: 0;
	margin-bottom: 0;
}

.previous_next_container 
{
    min-width:300px;
	padding: 0;
	margin: 0;
	min-height:1px;
	_height:1px;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	min-width:486px;
}

.previous_next_community_narrow, .previous_next_community_blank 
{
	min-width:100%; 
	padding-bottom: 10px;
	margin-bottom: 0;
	margin-top: 0;
}

.previous_next_community h2 
{
    background:url(./i/bg_heading-community-alt.png) repeat-x 0 -70px;
    padding:7px 10px 4px 10px;
    margin-top: 0px;
	font-size:.95em; 
}

.previous_next_community_blank .previous_next_content_left, 
.previous_next_community_narrow .previous_next_content_left 
{
	background:#fff url(./i/bg_content_border.png) repeat-y left top;
	width:100%;
	padding:0;
	margin-top: -10px;
	margin-bottom: 0;
}

.previous_next_community_blank .previous_next_content_right,
.previous_next_community_narrow .previous_next_content_right 
{
	background:#fff url(./i/bg_content_border.png) repeat-y right top;
	position:relative;
	margin-left:0;
	padding:9px 0 0 0;
	margin-bottom: 0;
    color: #fff;
}

.previous_next_content_middle_left 
{
	background:#fff url(./i/bg_content_border.png) repeat-y left top;
	position:relative;
	margin-bottom: 0;
	padding-bottom:0;
}

.previous_next_content_middle_right 
{
	background:url(./i/bg_content_border.png) repeat-y right top;
	padding:0 12px 0 4px;
	margin-bottom: 0;
}

.previous_next_community .previous_next_content_middle_right 
{
	color:#000;
} 

.previous_next_community_blank .previous_next_content_right p.noinset,
.previous_next_community_blank .previous_next_content_middle_right ul
{
    padding-left: 15px;
    padding-right: 15px;
}
.previous_next_community_blank .previous_next_content_middle_right ol
{
    margin: 0 20px;
    padding: 0 15px;
}
.previous_next_community_blank .previous_next_content_middle_right ol li
{
    margin-top: 0;
    margin-bottom: .4em;
    padding-top: 0;
    padding-bottom: 0;
}
.previous_next_content_middle_right p.top_period
{
    margin: -5px 0 0 0;
    padding: 0;
    font-size: 0.6em;
    color: #348827;
    text-align: right;
}

.previous_next_bottom span 
{
	background:url(./i/bg_community_narrow-alt.png) no-repeat right -650px;
	display:block;
	height:10px;
	font-size:1px;
	margin-bottom: 0;
	padding-bottom:0;
}

.previous_next_content_middle_right
{
	margin-left: 10px;
}

.previous_next_bottom 
{
	background: red url(./i/bg_community_narrow-alt.png) no-repeat 0 -640px;
	height:10px;
	font-size:1px;
	margin-bottom: 0;
	padding-bottom:0;
}

.previous_next_community_blank .previous_next_top
{
    background: #fff url(./i/bg_community_wide_blank-alt.png) no-repeat left top;
    height:13px;
    font-size:1px;
}
.previous_next_community_blank .previous_next_top span
{
    background:url(./i/bg_community_wide_blank-alt.png) no-repeat -2493px -10px;
	height:13px;
	width:7px;
	display:block;
	float:right;
}

.more 
{
	background:url(./i/bg_more_line.png) no-repeat;
	padding:4px 0 2px 0;
	margin:16px 0 0 0;
}

.ad_bucket_content .advertise_here
{
    clear:both;
    background: #dce4f9;
    margin: 0;
    padding: 0 8px 4px 6px;
    font-size: x-small;
    text-align: right;
}
.ad_bucket_content .advertise_here a:link, .ad_bucket_content .advertise_here a:visited
{
    color: #5889cf;
    text-decoration: none;
}
.ad_bucket_content .advertise_here a:hover
{
    color: #034efa;
    text-decoration: underline;
}
.ad_bucket_content .advertise_here a:active
{
    color: #5889cf;
    text-decoration: none;
}

/*************************************************************************************************
End New Sidebar container styles
*************************************************************************************************/
/* MS Communities Bar */

.cbMain
{
    position:absolute;
    top:0;
    left:0;
	background:url(i/background.jpg) repeat-x;
	height:25px;
	width:100%;
	font-family:Tahoma,Verdana,Sans-Serif;
	font-size:11px;
}

.cbLink
{
	display:none;
	float:right;
	margin-top:4px;
	margin-right:8px;
}

.cbLink a
{
	color:#0451C5;
	text-decoration:none;
	font-weight:normal;
}

.cbLink a:hover
{
	text-decoration:underline;
}

.cbLinkImg
{
	float:left;
}

.cbLinkText
{
	float:left;
	margin-left:3px;
	margin-top:1px;
}

.cbMore
{
	cursor: pointer;
	float:left;
	padding-top:5px;
	padding-left:8px;
}

.cbMoreText
{
	float:left;
}

.cbMoreImg
{
	background-image:url(i/arrow.gif);
	float:left;
	margin-top:2px;
	margin-left:3px;
	width:7px;
	height:7px;
	background-repeat: no-repeat;
}

.cbMenu
{
	border:1px solid #666666;
	padding:12px 12px 6px;
	background:#F3F3F3 none repeat;
	position:absolute;
	top:18px;
	left:8px;
	z-index:50;
	display:none;
}

.cbMenu ul
{
	margin:0px;
	padding:0px;
}

.cbMenu li
{
	list-style-type:none;
	margin-bottom:6px;
}

.cbMenu a
{
	color:#0451C5;
	text-decoration: none;
	font-weight: normal;
}

.cbMenu a:hover
{
	text-decoration:underline;
}

.cbMenu img
{
	vertical-align:middle;
}

/* END MS Communities Bar */
